<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_index') }}">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_product_index') }}">Produits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Consultation CA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Consultation commande</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Suivi de livraison</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">+ de chiffres</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('main') }}">Retour sur le site</a>
    </li>
</ul>