{% extends "base.html.twig" %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <main class="container mb-3">
        <section class="row">
            <div class="col-12">
                <h1>Modifier un utilisateur</h1>
                {% include "admin/user/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}