{% extends 'base.html.twig' %}

{% block title %}QrCode{% endblock %}

{% block body %}

{% include "partials/_adminnav.html.twig" %}

<h1 class="admin-index-title">QR Code pour {{ userName }}</h1>


    <div>
        <img src="{{ qrCodeUri }}" />
    </div>
{% endblock %}
