{% extends 'base.html.twig' %}

{% block title %}+ de chiffres{% endblock %}

{% block body %}
    <h1>+ de Chiffres</h1>
    {% include "partials/_adminnav.html.twig" %}

    {{ nbrProduct }}
{% endblock %}
