<footer class="footer flex space">

    <div>
        <p><a href="" class="palatino footer-link">Mentions legales</a></p>
        <p><a href="" class="palatino footer-link">RGPD</a></p>
        <p><a href="" class="palatino footer-link">Conditions generales de ventes</a></p>
        <p><a href="" class="palatino footer-link">Nous contacter</a></p>
    </div>

    <a href="{{ path('main') }}"> <!-- lien vers l'accueil -->
        <img src="{{ asset("images/logoblanc.png") }}" class="navbar_logo"><!-- logo -->
    </a>

    <div>
        <p class="palatino footer-link">Nos reseaux :</p>
        <a href=""><i class="fa-brands fa-square-facebook footer-social"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram footer-social"></i></a>
        <a href=""> <i class="fa-brands fa-linkedin footer-social"></i></a>
    </div>

</footer>



