<div class="footer georgia">

    <div class="footer-section flex" id="footer-left-section">
        <div>
            <p><a href="{{ path('mentionsLegales') }}" class="footer-link">Mentions légales</a></p>
            <p><a href="{{ path('RGPD') }}" class="footer-link">RGPD</a></p>
            <p><a href="" class="footer-link">Conditions générales de ventes</a></p>
            <p><a href="" class="footer-link">Nous contacter</a></p>
        </div>
    </div>

    <div class="footer-section flex" id="footer-middle-section">
            <a href="{{ path('main') }}"> <!-- lien vers l'accueil -->
                <img src="{{ asset("images/logoblancpapou.png") }}" class="w-40"><!-- logo -->
            </a>
    </div>

    <div class="footer-section flex" id="footer-right-section">
        <div>
            <div class="flex justify-center">
                <p>Retrouvez nous sur :</p>
            </div>
            <div class="flex justify-center">
                <a href=""><i class="fa-brands fa-square-facebook footer-social"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram footer-social"></i></a>
                <a href=""> <i class="fa-brands fa-linkedin footer-social"></i></a>
            </div>
        </div>
    </div>

</div>






