<div>

	<section class="slider">

		<ul id="autoWidth" class="cs-hidden">




			<li class="item-a">
				<div class="box"><!--img-box-->


					<div class="slide-img">

						<img alt="1" src="images/logovert.png">
						
						<div class="overlay"><!--overlayer-->
							<a href="#" class="buy-btn">ACHETER</a><!--buy-btn-->
						</div>

					</div>

					<div class="detail-box"><!--detail-box-->

						<div class="type"><!--type-->
							<a href="#">Rabbed Cardigan</a>
							<span>Noe Arrival</span>
						</div>

						<a href="#" class="price">$23</a><!--price-->

					</div>


				</div>		
			</li>



		</ul>

	</section>

</div>

<!-- 8eme slide : class="item-h"-->
	
