<header class="header">

    <div class="columns-3xs flex justify-center space-x-80">

        <div class="my-auto w-80">

            <div class="search">
                <input placeholder="Rechercher" type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
        

        </div>

        <div class="my-auto w-80 flex justify-center">
            
                <a href="{{ path('main') }}"> <!-- lien vers l'accueil -->
                    <img src="{{ asset("images/logoneutre.png") }}" class="w-40 logo-hover"><!-- logo -->
                </a>
            
        </div>

        <div class="my-auto w-80">
                <div class="flex justify-center space-x-1">
                    <a href=""><i class="fa-solid fa-heart navbar-menu"></i></a>
                    <a href=""><i class="fa-solid fa-cart-shopping navbar-menu"></i></a>
                    <a href=""><i class="fa-solid fa-user navbar-menu"></i></a>
                </div>
        </div>

    </div>



</header>





