

<div class="navbar">

    <div class="centered">
        <img src="{{ asset("images/logovert.png") }}" class="navbar_logo">
    </div>

   
    <div class="">
        <input type="search" class="" placeholder="Recherche"/>
        <span class="" id="">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
    </div>
    
    <nav>
        <ul class="navbar_list">
            <li>Connexion</li>
            <li>Jouets</li>
        </ul>
    </nav>
</div>