{% if products.pages > 1 %}
    <div class="product-age-pagination-container">
        <ul class="product-age-pagination">
            {% if products.page > 1 %}
                <li>
                    <a href="{{ path('product', {'page': products.page - 1, 'categories': data['categories'], 'age': data['age']}) }}">Précédent</a>
                </li>
            {% endif %}
            {% for page in 1..products.pages %}
                <li>
                    <a href="{{ path('product', {'page': page, 'categories': data['categories'], 'age': data['age']}) }}">{{ page }}</a>
                </li>
            {% endfor %}
            {% if products.page < products.pages %}
                <li>
                    <a href="{{ path('product', {'page': products.page + 1, 'categories': data['categories'], 'age': data['age']}) }}">Suivant</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}