{% if products.pages > 1 %}
    <div class="product-age-pagination-container">
        <ul class="product-age-pagination">
            {% if products.page > 1 %}
                <li>
                    <a href="{{ path('productAge', {'age': age, 'page': products.page - 1}) }}">Précédent</a>
                </li>
            {% endif %}
            {% for page in 1..products.pages %}
                <li>
                    <a href="{{ path('productAge', {'age': age, 'page': page}) }}">{{ page }}</a>
                </li>
            {% endfor %}
            {% if products.page < products.pages %}
                <li>
                    <a href="{{ path('productAge', {'age': age, 'page': products.page + 1}) }}">Suivant</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}