<div id="products-carousel">
    <div id="products-carousel-container">

    </div>
    <img src="{{ asset('images/btn_test.png') }}" class="btn-swipe" id="btn-swipe-left"> <!-- faire un bouton qui pointe vers la gauche -->
    <img src="{{ asset('images/btn_test.png') }}" class="btn-swipe" id="btn-swipe-right"> <!-- appliquer également le bouton qui pointe vers la gauche -->
    <script>
    //     document.addEventListener("DOMContentLoaded", function() {
    //         var nbr = 4;
    //         var p = 0;
    //         var container = document.getElementById("products-carousel-container");
    //         var g = document.getElementById("btn-swipe-left");
    //         var d = document.getElementById("btn-swipe-right");
    //         container.style.width = (80 * nbr) + "px";

    //         for (var i = 1; i <= nbr; i++) {
    //             var div = document.createElement("div");
    //             div.className = "products-carousel-img";
    //             div.style.backgroundImage = "url('images/image" + i + ".png')"; // Correction ici : ajout de "url()"
    //             container.appendChild(div);
    //         }

    //         // Ajout des fonctionnalités pour les boutons de défilement
    //         g.addEventListener("click", function() {
    //             if (p > 0) {
    //                 p--;
    //                 container.style.transform = "translateX(-" + (80 * p) + "px)";
    //             }
    //         });

    //         d.addEventListener("click", function() {
    //             if (p < nbr - 1) {
    //                 p++;
    //                 container.style.transform = "translateX(-" + (80 * p) + "px)";
    //             }
    //         });
    //     });
    </script>
</div>