<div id="products-carousel">
    <div id="products-carousel-container">

    </div>
    <img src="{{ asset('images/btn_test.png') }}" class="btn-swipe" id="btn-swipe-left"> <!-- faire un bouton qui pointe vers la gauche -->
    <img src="{{ asset('images/btn_test.png') }}" class="btn-swipe" id="btn-swipe-right"> <!-- appliquer également le bouton qui pointe vers la gauche -->
</div>