{% extends 'base.html.twig' %}

{% block title %}partner-contact{% endblock %}

{% block body %}
    <h1>contact</h1>
    <form action="{{ path('app_partner_contact', {'id': supplier.id}) }}" method="post" id="contact">
         <div class="mb-3">
            <label for="company" class="form-label">Company</label>
            <input type="text" value="{{ supplier.companyName }}" class="form-control" id="company" name="company" disabled>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" value="{{ app.user.email }}" id="email" name="email" disabled>
        </div>
         <div class="mb-3">
            <label for="subjet" class="form-label">Subjet</label>
            <input type="text" class="form-control" id="subjet" name="subjet">
        </div>
         <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="content" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{{ path('app_partner', {'id': supplier.id}) }}">retour</a>
{% endblock %}
