{% extends 'base.html.twig' %}

{% block body %}


<div class="flex home-card-centered home-div-size1">

    <div class="mx-2">

        <a href="">
            <div class="home-card home-card-size1">
                <div class="home-card-details">
                    <p class="home-text-body copperplate">Here are the details of the card</p>
                </div>
            </div>
        </a>

    </div>

    <div class="mx-2">

        <a href="">
            <div class="home-card home-card-size1">
                <div class="home-card-details">
                    <p class="home-text-body copperplate">Here are the details of the card</p>
                </div>
            </div>
        </a>

    </div>

    <div class="mx-2">

        <a href="">
            <div class="home-card home-card-size1">
                <div class="home-card-details">
                    <p class="home-text-body copperplate">Here are the details of the card</p>
                </div>
            </div>
        </a>

    </div>

</div>

{% include "partials/home_carousel1.html.twig" %}


<div class="flex home-card-centered home-div-size2">

    <div class="mx-2">

        <a href="">
            <div class="home-card home-card-size2">
                <div class="home-card-details">
                    <p class="home-text-body copperplate">Tout nos produits</p>
                </div>
            </div>
        </a>

    </div>

    <div class="mx-2">

        <a href="">
            <div class="home-card home-card-size2">
                <div class="home-card-details">
                    <p class="home-text-body copperplate">Here are the details of the card</p>
                </div>
            </div>
        </a>

    </div>

</div>


{% endblock %}


