{% extends 'base.html.twig' %}

{% block body %}


<div class="flex home-card-centered">

    <div class="mx-2">

        <a href="">
            <div class="home-card">
                <div class="home-card-details">
                    <p class="home-text-body copperplate">Here are the details of the card</p>
                </div>
            </div>
        </a>

    </div>

    <div class="mx-2">

        <a href="">
            <div class="home-card">
                <div class="home-card-details">
                    <p class="home-text-body copperplate">Here are the details of the card</p>
                </div>
            </div>
        </a>

    </div>

    <div class="mx-2">

        <a href="">
            <div class="home-card">
                <div class="home-card-details">
                    <p class="home-text-body copperplate">Here are the details of the card</p>
                </div>
            </div>
        </a>

    </div>

</div>

{% include "partials/home_carousel1.html.twig" %}



{% endblock %}