{% extends 'base.html.twig' %}

{% block body %}

    <h1>Accueil</h1>
    <ul>
        {% for category in categories %}

        <li><a href="{{ path('product', {'id': category.id}) }}">{{ category.name }}</a></li>
        
        {% endfor %}
        <li><a href="{{ path('productAll') }}">tout les produit</a></li>
    </ul>
{% endblock %}