{% extends 'base.html.twig' %}

{% block body %}


    <div class="pdf-page">

        <div>
            <embed src="pdf/Mentions_légales_papou.pdf" width="800" height="800">
        </div>

    </div>


{% endblock %}
