{% extends 'base.html.twig' %}

{% block body %}

    <h1>categorie</h1>
    <ul>
        {% for category in category.categories %}
    
        <li><a href="{{ path('product' , {'id': category.id}) }}">{{ category.name }}</a></li>
    
        {% endfor %}
    </ul>
    <hr>
    <h1>product partner</h1>
    {% if products|length != 0 %}
        <ul>
            {% for product in products.data %}

            <li><a href="{{ path('detail' , {'id': product.id}) }}">{{ product.name }}</a></li>
            
            {% endfor %}
        </ul>
    {% endif %}

    {% include "partials/pagination.html.twig" %}
{% endblock %}