@font-face {
    font-family: "Copperplate"; /* nom que l'on attribut à la nouvelle police */
    src: url("../fonts/Copperplate.ttf"); /* chemin d'accès du fichier contenant la police */
}
.copperplate {
    font-family: "Copperplate";
    font-weight: 900;   /* épaisseur de la police */
    font-size: 20px;    /* taille de la police */
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.ttf");
}
.georgia {
    font-family: "Georgia";
    font-weight: 900;
    font-size: 20px;
}