@import "fonts.css";
@import "/css/component/navbar.css";
@import "/css/component/footer.css";
@import "/css/pages/home.css";
@import "/css/pages/detail.css";
@import "/css/pages/login.css";
@import "/css/pages/register.css";
@import "/css/pages/cart.css";
@import "/css/pages/product_age.css";
@import "/css/component/age_carousel/age_carousel.css";
@import "/css/pages/partner_index.css";
@import "/css/pages/partner_products.css";
@import "/css/component/admin_nav.css";
@import "/css/pages/admin_index.css";
@import "/css/component/product-react-component.css";
  
/* Supression des marges en bordures du site */
body {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Georgia";
}

/* mise en forme de l'affichage des pdf */
.pdf-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

