@import "fonts.css";
@import "/css/component/navbar.css";
@import "/css/component/footer.css";
@import "css/component/home_carousel1.css";
@import "css/component/lightslider.css";
@import "/css/pages/home.css";
@import "/css/pages/detail.css";
@import "/css/pages/login.css";
@import "/css/pages/register.css";
@import "/css/pages/cart.css";

  
/* Supression des marges en bordures du site */
body {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}
