@import "fonts.css";
@import "/css/component/navbar.css";
@import "/css/component/footer.css";
@import "/css/pages/home.css";
@import "/css/pages/detail.css";
@import "/css/pages/login.css";
@import "/css/pages/register.css";
@import "/css/pages/cart.css";
@import "/css/pages/product_age.css";
@import "/css/component/age_carousel/age_carousel.css";
@import "/css/pages/partner_index.css";
@import "/css/pages/partner_products.css";
@import "/css/component/admin_nav.css";
@import "/css/pages/admin_index.css";
@import "/css/component/product-react-component.css";
@import "/css/component/order-react-component.css";
@import "/css/pages/partner_forms.css";
@import "/css/pages/partner-sales.css";
  
/* Supression des marges en bordures du site */
body {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Georgia"; /* police par défaut du corps du site */
}

/* mise en forme de l'affichage des pdf */
.pdf-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-index-title { /* mise en page des titres de l'espace admin - utilisé également pour les titres de l'espace partenaire */
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Copperplate';
}



.btn-secondary { /* propriétés des boutons "RETOUR" */
    background-color: #f19a76;
    color: white;
    font-weight: 900;
}

.btn-secondary:hover { /* propriétés des boutons "RETOUR" au survol de la souris */
    background-color: white;
    color: #f19a76;
    font-weight: 900;
}

.btn { /* propriétés de bases des boutons */
    padding: 10px 20px;
    cursor: pointer;
}
