.products-age-carousel {
    width: 15vw;
    height: 20vw;
    margin-left: 4vw;
    margin-bottom: 4vw;
    border: 1px solid #f19a76;
    position: relative;
    overflow: hidden;
}

.products-age-carousel-container {
    width: 15vw;
    height: 15vw;
    display: flex;
    user-select: none !important;
}

.products-carousel-img {
    width: 15vw;
    height: 15vw;
    margin: 0;
    display: inline-block;
    background-size: cover;
}

.btn-favoris {
    position: absolute;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    top: 5px;
    right: 10px;
    transition: .3s ease;
}

.btn-favoris:hover {
    transform: scale(1.4);
}

.btn-swipe {
    position: absolute;
    width: 35px;
    cursor: pointer;
    top: 7vw;
    transition: .3s ease;
}

.btn-swipe-left {
    left: 0;
    opacity: 30%;
    transform: rotate(0deg);

}

.btn-swipe-right {
    right: 0;
    opacity: 30%;
    transform: rotate(180deg);

    
}

.btn-swipe-left:hover {
    opacity: 60%;
    transform: scale(1.4);
}

.btn-swipe-right:hover {
    opacity: 60%;
    transform: rotate(180deg) scale(1.4);
}

.product-card-detail {
    color: black;
    background-color: white;
    width: 15vw;
    height: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.product-add-btn {
    position: absolute;
    bottom: 0.5vh;
    right: 15px;
    font-family: 'Georgia';
    font-size: 30px;
    color: #f19a76;
}