#products-carousel {
    width: 15vw;
    height: 15vw;
    border: 4px solid #f19a76;
    margin-right: 0px;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}

#products-carousel-container {
    width: 15vw;
    height: 15vw;
}

.products-carousel-img {
    width: 15vw;
    height: 15vw;
    margin: 0;
    display: inline-block;
    background-size: cover;
}

.btn-swipe {
    position: absolute;
    width: 35px;
    cursor: pointer;
    top: 5vh;
    transition: .3s ease;
}

#btn-swipe-left {
    left: 0;
    /* opacity: 50%; -- ajuster pour rendre les boutons des défilement transparents*/
    transform: rotate(0deg);

}

#btn-swipe-right {
    right: 0;
    /* opacity: 50%; -- ajuster pour rendre les boutons des défilement transparents*/
    transform: rotate(180deg);

    
}

#btn-swipe-left:hover {
    /* opacity: 50%; -- ajuster pour rendre les boutons des défilement transparents*/
    transform: scale(1.5);
}

#btn-swipe-right:hover {
    /* opacity: 50%; -- ajuster pour rendre les boutons des défilement transparents*/
    transform: rotate(180deg) scale(1.5);
}