
.cart-empty {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
}

.empty {
    font-size: 30px;
    justify-self: center;
    align-self: center;
    grid-area: 3 / 1 / 4 / 2;
}

.empty-button {
    justify-self: center;
    align-self: start;
    grid-area: 4 / 1 / 5 / 2;
    font-size: 20px;
    transition: .5s ease;
}

.empty-button:hover {
    transform: scale(1.4);
}
  


#th1 {
    width: 200px;
}

#th2 {
    width: 100px;
}

#th3 {
    width: 100px;
}

.cart-table {
margin-left: auto;
margin-right: auto;
}

.cart-table thead th tr td {
    border: 1px solid black;
}