.category-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #f19a76;
    border-bottom: 1px solid #f19a76;

}

.category-btn {
    font-size: 20px; /* taille de police */
    cursor: pointer; /* changement de forme du curseur */
    transition: .3s ease; /* vitesse d'animation */
}

.category-btn:hover {
    transform: scale(1.2); /* grossissement des boutons au survol de la souris */
}

.products-carousel {
    margin-top: 50px;
    margin-bottom: 40px;
}

.home-card-centered {
    align-content: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.home-div-size2 {
    height: 550px;
}

.home-card {
    transition: .5s ease;
}

.home-card:hover {
    transform: scale(1.05);
}

.home-card-size2 {
    width: 800px;
    height: 550px;
}

.home-text-body {
color: rgb(255, 255, 255);
}

.home-promo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 25px;
}

.home-age-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.section-bandeau {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 20px;
}

.bandeau {
    width: 100vw;
    height: auto;
}

.section-superman {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-superman {
    width: 50vw;
    height: auto;
}

.section-partenaire {
    width: 100vw;
    height: 60vh;
    background-color: #f5f3ce;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .section-papou {
    width: 40vw;
    height: 60vh;
    background-color: aqua;
    justify-self: end;
    align-self: center;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
  }
  
  .section-partner {
    width: 20vw;
    height: 30vh;
    background-color: chartreuse;
    justify-self: center; 
    align-self: end; 
    grid-area: 1 / 2 / 2 / 3; 
  }


  