.category-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #f19a76;
    border-bottom: 1px solid #f19a76;

}

.category-btn {
    font-size: 20px; /* taille de police */
    cursor: pointer; /* changement de forme du curseur */
    transition: .3s ease; /* vitesse d'animation */
}

.category-btn:hover {
    transform: scale(1.2); /* grossissement des boutons au survol de la souris */
}

.home-card-centered {
    align-content: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.home-div-size2 {
    height: 550px;
}

.home-card {
    transition: .5s ease;
}

.home-card:hover {
    transform: scale(1.05);
}

.home-card-size2 {
    width: 800px;
    height: 550px;
}

.home-text-body {
color: rgb(255, 255, 255);
}

.home-promo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 25px;
}

.home-age-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.bandeau {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 500px;
    background-color: #f5f3ce;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-superman {
    width: 100vw;
    height: 50vh;
    background-color: #f19a76;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img-superman {
    width: 70vw;
    height: auto;
}