.order-index-content {  /* Contenu de la page order */
    width: 100vw;
    margin-top: 5vh;
    font-size: 20px;
}

.order-section {    /* div contenant le récapitulatif commande */
    width: 60vw;
    border: 1px solid #00988e;
}

.order-index-left { /* section gauche */
    width: 30vw;
}

.order-index-right {    /* section droite */
    width: 30vw;
    background-color: white;
}

.order-index-left tr,
.order-index-left td {
    text-align: center;
}

.order-index-left tbody tr {
    height: 8vh;
    border-top: 1px solid black;
    background-color: #f3f3f3;
}

.order-index-left table {
    width: 30vw;
}

.order-index-left tr:nth-child(even) {
  /* Applique une couleur de fond différente pour les lignes paires */
    transition: .5s ease;
}

.order-index-left tbody tr:hover {
    background-color: #f19b764f;  /* Applique une couleur de fond différente au survol de la souris */
}

.order-index-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 80px;
}