.partner-index-content {
    display: flex;  /* utilisation de la flexbox */
    justify-content: center;    /* centrage du contenu */
    width: 50vw;    /* largeur */
    height: auto;   /* adaptation automatique de la hauteur */
    margin-left: auto;  /* centrage horizontal par rapport au parent */
    margin-right: auto;  /* centrage horizontal par rapport au parent */
    margin-bottom: 40px;    /* marge inférieure */
}

.partner-index-content a {  /* liens contenus dans la div parner-index-content */
    display: flex;  /* utilisation de la flexbox */
    justify-content: center;    /* centrage du contenu */
    width: 40vw;    /* largeur */
    font-size: 20px;    /* taille des caractère */
    padding: 10px;  /* épaisseur de cadre */
    margin-bottom: 40px;    /* marge inférieure */
    margin-top: 40px;   /* marge supérieure */
    background-color: #f19a76;  /* couleur de fond */
    color: #fff;    /* couleur de police */
    transition: .5s ease;   /* gestion des transition */
}

.partner-index-content a:hover {    /* changements de propriétés au survol des liens */
    background-color: white;    /* on inverse la couleur de fond */
    color: #f19a76;             /* avec la couleur de police */
    font-weight: 900;   /* on grossi la taille de police */
    transform: scale(1.2);  /* on aggrandi la taille du lien entier */
}