.partner-products-title {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 30px;
    font-family: 'Copperplate';
}

.partner-products-table {
    display: flex;
    justify-content: center;
}

.partner-products-table th, .partner-products-table td {
    width: 15vw;
    text-align: center;
}

.partner-products-table th {
    height: 6vh;
    font-size: 25px;
}

.partner-products-table td {
    height: 4vh;
    font-size: 20px;
}

.partner-products-infos {
    display: flex;
    justify-content: center;
}

.partner-products-table img {
    width: 5vw;
    height: auto;
}