.product-age-content {
    display: flex;
}


.product-age-left-section {
    width: 20vw;
    height: auto;
    border-right: 2px solid #f19a76;
    margin-bottom: 40px;
}

.product-age-right-section {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    margin-bottom: 40px;
}

.product-age-title {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Copperplate';
}