.products-content {
    display: flex;
}

.products-left-section {
    width: 20vw;
    height: auto;
    border-right: 2px solid #f19a76;
    margin-bottom: 40px;
}

.products-right-section {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    margin-bottom: 40px;
}

.products-title {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Copperplate';
}

.products-pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.products-pagination {
    width: 40vh;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: black;
}

#categories {
    /* display: grid; */
    margin-left: 20px;
}