{% extends 'base.html.twig' %}

{% block title %}ResetPassword{% endblock %}

{% block body %}
    {# formulaire de demande de réinitialisation de mdp #}

    <h1>Demande de réinitialisation du mot de passe</h1>
        <hr class="my-2">

        <a href="{{ path("app_login") }}" class="btn btn-primary btn-sm mb-4" title="Retour à la liste des cours">Retour à l'authentification</a>


        {{ form(form) }}

{% endblock %}
