{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="admin-index-title">
    <h1>Administration</h1>
</div>

{% include "partials/_adminnav.html.twig" %}

<div class="admin-index-content">
    <h1>CONTENT COMING SOON</h1>
</div>

{% endblock %}
