{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

{% if products|length != 0 %}

    <h1 class="admin-index-title">Résultats de votre recherche</h1>
    <ul>
        {% for product in products %}
        <li><a href="{{ path('detail', {'id': product.id}) }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>

{% else %}

    <div class="cart-empty">
        <div class="empty copperplate">
            <h1>Aucun produit ne correspond à votre recherche</h1>
        </div>

        <div class="empty-button">
            <a href="{{ path('product') }}">Continuez votre shopping</a>
        </div>
    </div>

{% endif %}

{% endblock %}