<!DOCTYPE html>
<html>
    <body>
        {# email de réinitialisation de mdp #}

        <p>Bonjour,</p>

        <p>Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le lien ci-dessous pour procéder à la réinitialisation :</p>

         <a href="{{ url('reset_password_confirm', {'token': token}) }}">Réinitialiser le mot de passe</a>

        <p>Ce lien sera valide pendant une heure. Passé ce délai, il faudra effectuer une nouvelle demande.</p>

        <p>Si vous n'avez pas effectué cette demande, vous pouvez ignorer cet e-mail.</p>

        <p>Cordialement,<br>L'équipe Papou</p>
    </body>
</html>