<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Accueil - Papou
            {% endblock %}
        </title>


        {# Liens des feuilles de style css #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        <script src="https://kit.fontawesome.com/a867087266.js" crossorigin="anonymous"></script>
        {% endblock %}
        <style>
        @font-face {
            font-family: "Copperplate";
            src: url("https://fontsforyou.com/fonts/c/Copperplate.ttf");
        }
        .copper {
            font-family: "Copperplate";
        }
        </style>
      
    </head>



        {% block header %}
            {% include "partials/navbar.html.twig" %}
        {% endblock %}

       
    <body>
        <div class="container mt-4">
        {% block body %}{% endblock %}
        </div>
    </body>

</html>

{% block footer %}
{% include "partials/footer.html.twig" %}
{% endblock %}

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
