{% extends 'base.html.twig' %}

{% block title %}Consultation des commandes{% endblock %}

{% block body %}


{% include "partials/_adminnav.html.twig" %}

<h1 class="admin-index-title">Consultation des commandes</h1>


<div id="app-order"></div>



{% endblock %}
