{% extends 'base.html.twig' %}

{% block title %}Consultation des commandes{% endblock %}

{% block body %}
<main class="container">
    <h1>Consultation des commandes</h1>
    {% include "partials/_adminnav.html.twig" %}
</main>

{% endblock %}
