{% extends 'base.html.twig' %}

{% block title %}Consultation des commandes{% endblock %}

{% block body %}
<main class="container"></main>
    <h1>Consultation des commandes</h1>
    {% include "partials/_adminnav.html.twig" %}
    <div id="app-order"></div>
</main>
{% endblock %}
