{% extends 'base.html.twig' %}

{% block title %}Administration des produits{% endblock %}

{% block body %}


{% include "partials/_adminnav.html.twig" %}

<h1 class="admin-index-title">Liste des produits</h1>

    <div id="app-product"></div>


{% endblock %}
