.footer {
    padding: 20px;
    background-color: #ca3c66;
    bottom: 0;
    width: 100%;
}

.footer-social {
    color: #ffffff;
    font-size: 40px;
}

.footer-link {
    color: #ffffff;
    font-size: 20px;
}
