.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#left-section, #middle-section, #right-section {
  width: 33.33%;
  height: 20vh; /* Utilisation de l'unité de vue pour définir la hauteur de 100% de la vue */
}

.search {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  color: #0ac0ba;
}

.search input[type="text"]:focus {
  outline: none;
}

.search button[type="submit"] {
  background-color: #0ac0ba;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: .3s ease;
  margin-left: -2px;
}

.search button[type="submit"]:hover {
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}

.navbar-logo {
  width: 25%;
  height: auto;
  cursor: pointer;
  transition: .3s ease;
  display: block;
  margin: auto;
}

.navbar-logo:hover {
  transform: scale(1.2);
}

.space-x-1 {
  display: flex;
  align-items: center;
}

.navbar-menu {
  color: #0ac0ba;
  font-size: 35px;
  transition: .5s ease;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-menu:hover {
  transform: scale(1.5);
}

/* Ajout pour centrer l'image horizontalement de manière responsive */
@media screen and (max-width: 768px) {
  .navbar-logo {
    width: 80%;
  }

  .search input[type="text"] {
    width: 100%;
  }
}
