.header {
  background-color: #ffffff; /* couleur de fond de la navbar */
  display: flex; /* positionnement en ligne des 3 sections de la navbar */
  justify-content: space-between; /* centrage et espacement horizontal des 3 sections */
  align-items: center; /* centrage vertical des 3 sections */
}

.section-container {
  display: flex; /* positionnement en ligne du contenu d'une section */
  justify-content: center; /* centrage horizontal du contenu d'une section */
  align-items: center; /* centrage vertical du contenu d'une section */
}

/* taille des sections */
#left-section, #middle-section, #right-section {
  width: 33.33%; /* largeur d'une section (1/3 de l'écran par section) */
  height: 20vh; /* hauteur d'une section */
}

.search {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none; /* supression de la bordure de la barre de recherche */
  color: #000000; /* couleur d'écriture */
  font-size: 20px;
}

.search input[type="text"]:focus {
  outline: none;
}

.search button[type="submit"] {
  background-color: #f19a76;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: .3s ease;
  margin-left: -2px;
}

.search button[type="submit"]:hover {
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}

.navbar-logo {
  width: 25%; /* largeur du logo */
  height: auto; /* hauteur du logo */
  cursor: pointer; /* changement de forme du curseur */
  transition: .3s ease; /* vitesse d'animation */
  display: block;
  margin: auto;
}

.navbar-logo:hover {
  transform: scale(1.2); /* grossissement du logo au survol de la souris */
}

.navbar-menu {
  color: #f19a76;
  font-size: 40px;
  transition: .5s ease;
  margin-left: 40px;
  margin-right: 40px;
}

.navbar-menu:hover {
  transform: scale(1.5);
}


/* Media query pour les appareils avec une largeur d'écran inférieure à 768px (typiquement les téléphones) */
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column; /* Disposer les éléments en colonne pour les petits écrans */
    justify-content: center; /* Centrer le contenu verticalement */
  }
  .section-container {
    margin-top: 20px; /* Ajouter un espace entre les sections */
  }
  #left-section, #middle-section, #right-section {
    width: 100%; /* Occuper toute la largeur pour les petits écrans */
    height: auto; /* Ajuster la hauteur automatiquement */
  }
  .navbar-menu {
    font-size: 30px; /* Réduire la taille de la police pour les petits écrans */
    margin: 10px 0; /* Ajuster les marges pour les petits écrans */
  }
  .header #right-section i {
    margin-right: 20px; /* Créer un espace entre les îcones */
    margin-left: 20px; /* Créer un espace entre les îcones */
  }
}

/* Media query pour les appareils avec une largeur d'écran comprise entre 769px et 1024px (typiquement les tablettes en mode paysage) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    font-size: 16px; /* Réduire la taille de la police pour les tablettes en mode paysage */
  }
}

/* Media query pour les appareils avec une largeur d'écran supérieure à 1024px (typiquement les ordinateurs de bureau) */
@media only screen and (min-width: 1025px) {
  .header {
    font-size: 24px; /* Ajuster la taille de la police pour les grands écrans */
  }
}